<h1>Products Service From NODE API</h1>
{{products | json}}

<br><br>

<a [routerLink]="'/create'" style="margin-right: 10px;">create Product</a>
<a [routerLink]="'/update'" style="margin-right: 10px;">Update Product</a>
<a [routerLink]="'/fetch'" style="margin-right: 10px;">Fetch Product</a>
<a [routerLink]="'/delete'" style="margin-right: 10px;">Delete Product</a>
<router-outlet></router-outlet><br><br>


<!-- <app-person-form-component></app-person-form-component> -->
<!-- <app-person-template-forms></app-person-template-forms> -->
<app-custom-directives></app-custom-directives>
