<h1> Directives </h1>
<app-ngif></app-ngif>
<app-ngfor></app-ngfor>
<app-hidden-property></app-hidden-property>
<app-ng-class></app-ng-class>
<app-ng-switch></app-ng-switch>
<app-ng-style></app-ng-style>
<app-safe-travel-operator></app-safe-travel-operator>
<app-custom-attribute-directive></app-custom-attribute-directive>
<app-custom-structural-directive></app-custom-structural-directive>
<div appHover>
  <p>This is a demo HTML content to understand custom attribute directive in angular</p>
</div>

<div class="container" appBetterhighlight>
  <p>This is a demo HTML content to understand @Hostbinding attribute directive in angular</p>
</div>
